---
title: About
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>关于我</h2>
</div>

<main class="tags-content" style="margin-top: 0px;">

    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
        <h2>我叫郑清</h2>
        <br/>
        <p>四川眉山人，now：四川成都，上班族，全栈工程师，热爱技术与分享。</p>
        <br/>
        <p>CSDN博客：<a target="_blank" href="https://blog.csdn.net/qq_38225558"  style="color:#5bbd72;">https://blog.csdn.net/qq_38225558</a></p>
        <br/>
        <p>GitHub：<a target="_blank" href="https://github.com/zhengqingya" style="color:#5bbd72;">https://github.com/zhengqingya</a></p>
        <br/>
        <h3>联系方式</h3>
        <br/>
        <p>微信：960869719</p>
        <br/>
    </ul>

</main>
    
{% include footer.html %}
